@model IEnumerable<edu.mum.mumscrum.Models.UserStory>

@{
    ViewBag.Title = "My User Stories";
    Layout = "~/Views/Shared/_DeveloperLayoutPage.cshtml";
}

<h2>My User Stories</h2>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)kashifshabihdsjhjhjsdh*@
            User Story
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ProductBacklog.Name)
                Product Backlog
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.ReleaseBacklog.Name)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Sprint.Name)*@
            Sprint
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualEndDate)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DevelopmentStatus)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TestStatus)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.DeveloperID)
            Developer
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.TesterID)
            Tester
        </th>*@
        <th>
                @*@Html.DisplayNameFor(model => model.DeveloperEstimateInHours)*@
                Est. Hrs.
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TesterEstimateInHours)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.DeveloperHoursCompleted)*@
                compl. Hrs.
            </th>
            <th>
                Rem. Hrs.
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TesterHoursCompleted)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.ProductBacklog.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ReleaseBacklog.Name)
                    </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Sprint.Name)
            </td>
            @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualEndDate)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DevelopmentStatus)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.FirstName)
                @Html.DisplayFor(modelItem => item.Developer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tester.FirstName)
                @Html.DisplayFor(modelItem => item.Tester.LastName)
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.DeveloperEstimateInHours)
                </td>
                @*<td>
        @Html.DisplayFor(modelItem => item.TesterEstimateInHours)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.DeveloperHoursCompleted)
    </td>
    <td>
        @((item.DeveloperEstimateInHours - item.DeveloperHoursCompleted).ToString())
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.TesterHoursCompleted)
    </td>*@
            <td>
                @Html.ActionLink("Estimate Effort", "EstimateEffort", new { id = item.ID }) @*|
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }

</table>
